<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="0">
  <trigger triggerOnPublish="true" />
  <xmlSiteMap enabled="false" excludeUmbracoNaviHide="false" />
  <urlRewrite enabled="true" forcewwwUrls="False" useTrailingSlashProperty="true" />
  <redirectConfig storeDomain="true" storeQueryString="false" forwardQuerystring="false" redirectWhenNodeExists="true" />
  <notFoundConfig enabled="true" />
  <robotsTxt enabled="true" />
  <robots>
    <robot userAgent="Googlebot/2.1" name="Google" />
  </robots>
  <documentTypeConfiguration>
    <documentType>
      <documentTypeAlias>WorkEntry</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>nofollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>WorkQuote</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>nofollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>folderTemplate</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>nofollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>GlossaryEntry</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>nofollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>LeafletFold</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>noindex</robotsTxtIndexOption>
      <robotsTxtFollowOption>nofollow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
  </documentTypeConfiguration>
  <emailConfiguration />
  <rootNodeSettings>
    <rootNode>
      <nodeId>1067</nodeId>
      <canonicalDomain></canonicalDomain>
      <robotsTxt><![CDATA[]]></robotsTxt>
      <languages>
        <language isoCode="en-US" nodeId="1552" />
      </languages>
    </rootNode>
  </rootNodeSettings>
  <validationConfig validateAltAttributesOnTemplate="false" />
  <keywordSelectionUrl>https://adwords.google.com/ko/KeywordPlanner/Home</keywordSelectionUrl>
  <showTemplateErrorsForNonAdmins>false</showTemplateErrorsForNonAdmins>
</SEOChecker>