// ===========================================================
//
//	$ABBR
//
//	<abbr title="hyper text markup language">HMTL</abbr>
//
// ===========================================================

abbr {
	font-variant: small-caps; /* https://developer.mozilla.org/en-US/docs/CSS/font-variant */
	font-weight: 600;
	text-transform: lowercase;
	color: #808080;
}

abbr[title]:hover {
	cursor: help; /* cursor changed to a question mark when it has a title */
}