// ===========================================================
//
//	$CODE
//
// ===========================================================

code {
	font-family: monospace;
	line-height: 1.4em;
	overflow-x: auto;
	word-break: break-word;
}