// ===========================================================
//
//	$HEADINGS
//
// ===========================================================

$type-scale: 1.333; // Perfect Fourth

$beta: 	$base-font-size;				
$gamma: $beta 	/ 	$type-scale;
$alpha: $beta 	* 	$type-scale;
$mega: 	$alpha 	* 	$type-scale;
$giga: 	$mega 	* 	$type-scale;
$tera: 	$giga 	* 	$type-scale;
$intro: $alpha;

.tera {
	@include heading-font-size($tera);
}
h1,
.giga {
	@include heading-font-size($giga);
}
h2,
.mega {
	@include heading-font-size($mega);
}
.alpha {
	@include heading-font-size($alpha);
}
h3,
h4,
.beta {
	@include heading-font-size($beta);
}
h5,
.gamma {
	@include heading-font-size($gamma);
}
.intro {
	font-size: $intro;
	line-height: $base-line-height;
}

@include respond-min( $mq-medium ) {


	$beta: 	$base-font-size;				
	$gamma: $beta 	/ 	$type-scale;
	$alpha: $beta 	* 	$type-scale;
	$mega: 	$alpha 	* 	$type-scale;
	$giga: 	$mega 	* 	$type-scale;
	$tera: 	$giga 	* 	$type-scale;
	$intro: $alpha;

	.tera {
		@include heading-font-size($tera);
	}
	h1,
	.giga {
		@include heading-font-size($giga);
	}
	h2,
	.mega {
		@include heading-font-size($mega);
	}
	.alpha {
		@include heading-font-size($alpha);
	}
	h3,
	h4,
	.beta {
		@include heading-font-size($beta);
	}
	h5,
	.gamma {
		@include heading-font-size($gamma);
	}
	.intro {
		font-size: $intro;
	}

}