// ===========================================================
//
//	$SMALL
//
// ===========================================================

.small {
	font-size: 0.9em;
}

.small-caps {
	color: $pri;
	font-family: monospace;
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0.125em;
	text-transform: uppercase;
}