// ===========================================================
//
//	$Columns
//
// ===========================================================

@include respond-max( $mq-medium ) {

    .o-col + .o-col {
      margin-top: $line-height * 2;
    }

}

@include respond-min( $mq-medium ) {

  .o-col--two {

    .o-col {
      @include column(7);
      margin-bottom: 0;
    }

  }

  .flexbox {

    .o-col--two {
      display: flex;
    }

  }

}
