// ===========================================================
//
//	$CASE STUDIES
//
// ===========================================================

.case-study--macro .case-study__section {
	position: relative;
}

.case-study--macro .case-study__section img.case-study__img--logo {
	width: auto;
	display: inline-block;
}

.case-study--macro .case-study__img--logo {
	display: inline-block;
	float: left;
	margin:.5rem 3rem .5rem 0;
}

.case-study__title--wrap h2 {
	padding-bottom: 0;
}

.title--sub {
	display: block;
}

.case-study--macro .case-study__copy {
	padding: 2rem;
}

.case-study__section table {
	background-color: transparent;
}


/* ---- CUSTOM CONTROLS ---- */
.case-study__controls {
	position:absolute;
	top:0;
	bottom:0;
	left:3rem;
	right:3rem;
	height:4.5rem;
	margin:auto;	
}

.case-study__controls .owl-prev {
	left:0;
	background-position:center 0;
}

.case-study__controls .owl-next {
	right:0;
	background-position:center -200px;
}



/* ---- CUSTOM OWL STYLES ---- */
.case-study--slider .owl-stage-outer,
.case-study--slider .owl-stage,
.case-study--slider .owl-item {
	height:100%;
}


/* ==== CASE STUDY SLIDER ==== */
.case-study--slider	{
	position:relative;
	width:100%;
	background-color:$grey-1;
}

.case-study--slider .case-study__slide {
	width:100%;
	height:100%;
}

.case-study--slider .case-study__viewport {
	position:relative;
	height:100%;
	margin-left:0 !important;
	overflow:hidden;	
}

.case-study--slider .case-study__image {
	min-width:100%;
	min-height:100%;
}

.case-study--slider .case-study__strapline {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:6rem;
	padding:0.5rem 1.5rem;
	background-color:$grey-1;
	opacity:0.9; filter:alpha(opacity=90);
	text-align:center;
}

.case-study--slider .case-study__content {
	
}

.case-study--slider .case-study__headings {
	display:block;	
}

.case-study--slider .case-study__title {
	
}

.case-study--slider .case-study__job {
	font-size:1.9rem;
	font-weight:300;
	font-style:italic;
}

.case-study--slider .case-study__text {
	
}

.case-study--slider .case-study__text BLOCKQUOTE {
	min-height:5.1rem;
	padding:1rem 0 0 5rem;
	font-family:$font-family-sec;
	font-weight:400;
	line-height:140%;
	text-indent:0;
	color:$black;
	background:url(../../assets/img/icon_quote_red1.png) left top no-repeat;
}

.case-study--slider .case-study__buttons {
	
}




// MOBILE
@include respond-max( $mq-medium ) {

	.case-study--slider .case-study__viewport {
		clear:both;
		width:100%;
	}
	
	.case-study--slider .case-study__content {
		clear:both;
		padding:3rem 2rem 10rem;
	}
	
/* ---- CUSTOM CONTROLS ---- */
	.case-study__controls {
		top:10.5rem;
		bottom:inital;
		margin:0;
	}
	
/* ==== CASE STUDY SLIDER ==== */
	.case-study--slider	{
		
	}
	
	.case-study--slider .case-study__slide {
	
	}
	
	.case-study--slider .case-study__viewport {
		height:26rem;
	}
	
	.case-study--slider .case-study__image {
		max-width:150%;
		max-height:150%;		
	}
	
	.case-study--slider .case-study__strapline {
		display:block;
	}
	
	.case-study--slider .case-study__headings {
		display:none;	
	}	
	
	.case-study--slider .case-study__title {
		font-size:2.8rem;
		padding-bottom:0;
		margin-bottom:0;
	}
	
	.case-study--slider .case-study__job {
		font-size:1.6rem;
	}
	
	.case-study--slider .case-study__content {
		height:auto;
	}
	
	.case-study--slider .case-study__text {
		margin-bottom:4rem;		
	}
	
	.case-study--slider .case-study__buttons {
		text-align:center;
	}		


}


// TABLET & DESKTOP
@include respond-min( $mq-medium ) {

	.case-study--micro .case-study__section {
		@include column(4);	
	}

	.case-study--micro .case-study__section--spacer {
		@include pull(1);
	}

	.case-study--macro .case-study__img {
		width: 100%;
		display: block;
	}

	.case-study--macro .case-study__copy {
		position: absolute;
		top: 0;
		bottom: 0;
		background-color: rgba(255,255,255,.95);
		padding: 5%;
	}

	.case-study__section--first .case-study__copy,
	.case-study__section--third .case-study__copy {
		width: 50%;
	}

	.case-study__section--second .case-study__copy {
		@include column(10);
		@include push(2);
	}

	.case-study__section--third .case-study__copy {
		right: 0;
	}
	
	
/* ==== CASE STUDY SLIDER ==== */
	.case-study--slider	{
		height:64rem;
	}
	
	.case-study--slider .case-study__slide {
		
	}
	
	.case-study--slider .case-study__viewport {
		@include column(7);
	}
	
	.case-study--slider .case-study__image {
		position:relative;
		left:-30%;
		max-width:none;
		max-height:none;		
	}
	
	.case-study--slider .case-study__strapline {
		display:none;
	}	
	
	.case-study--slider .case-study__content {
		@include column(7);
	}
	
	.case-study--slider .case-study__title {
		font-size:3.6rem;
	}
	
	.case-study--slider .case-study__job {
		margin-bottom:5rem;
	}
	
	.case-study--slider .case-study__text {
		margin-bottom:4rem;		
	}
	
	.case-study--slider .case-study__buttons {
		
	}
	

}

// TABLET
@include respond-min-max( $mq-medium, $mq-large ) {


/* ==== CASE STUDY SLIDER ==== */
	
	.case-study--slider .case-study__content {
		padding:6rem;
	}

}

// DESKTOP
@include respond-min( $mq-large ) {


/* ==== CASE STUDY SLIDER ==== */
	
	.case-study--slider .case-study__content {
		padding:11.5rem 16rem 11.5rem 12.5rem;
	}


}








