/* ===========================================================
//
//	$FORM
//
// ======================================================== */


.main-content {

	.contourField + .contourField {
		margin-top: $base-line-height;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		background-color: $grey-2;
	}

	.contour {
		max-width: 67rem;
		margin: $base-line-height * 2 auto 0;
	}

	.contourNavigation {
		text-align: right;
	}


	input[type=checkbox], 
	input[type=radio] {
		background-color: darken( $grey-2, 10% );
		border: .3rem solid darken( $grey-2, 10% );

		&:hover,
		&:checked {
			background: $sec;
			border-color: $sec;
		}

	}


	input[type=checkbox]+label,
	input[type=radio]+label {
		display: inline-block;
		cursor: pointer;
		font-weight: 600;
		font-size: .9em;
	}




}