// ===========================================================
//
//	$GALLERY
//
// ===========================================================

.gallery--space-around {
	display: flex;
	justify-content: space-around;

	.gallery__img-link {
		display: inline-block;
		margin: 0 1rem;
	}
}

@include respond-max( $mq-medium ) {

	.gallery__img-thumb {
		@include column(7);
	}

}

@include respond-min( $mq-medium ) {

	.gallery {
		float: right;
		padding-left: 4rem;
	}

	.gallery__img-thumb {
		display: block;
		margin-bottom: $base-line-height;
	}

}