/* ===========================================================
//
//	$LISTING - IMAGE ARTICLE
//
// ======================================================== */

.listing--image-article {

	.listing__image,
	.listing__link {
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;

	}

	.listing__content {
		padding: 2rem;
	}

}
@include respond-max( $mq-medium ) {
	.listing__image-wrap {
		padding-top: 30%;
	}
}
@include respond-min( $mq-medium ) {
	
	.listing__item {
		display: table;
		height: 100%;
		width: 100%;

	}
	.listing--image-article {

		.listing__image-wrap,
		.listing__content {
			float: left;
			display: inline;
		}

		.listing__image-wrap {
			width: 50%;
			display: table-cell;
			height: 100%;
			vertical-align: middle;
		}

		.listing__content {
			width: 50%;
			/*max-width: 60rem;*/
		}

		.listing__item:nth-child(2n+2) {
			background-color: $grey-1;

			.listing__image-wrap {
				float: right;
			}
		}

		.listing__content {
			padding: 4rem;
		}

	}

}

@include respond-min( $mq-large ) {

	.listing--image-article {

		.listing__content {
			padding: 5rem;
			padding-bottom: 4rem;
		}

	}

}


@include respond-min( $mq-x-large ) {

	.listing--image-article {

		.listing__content {
			padding: 6rem;
			padding-left: 8rem;
			padding-right: 8rem;
			padding-bottom: 4rem;
		}

	}

}