<style type="text/css">
    .t-mwl-banner {
        background-color: #e71e40;
        display: block;
    }

    .t-mwl-banner__image {
        max-width: 100%;
        margin: auto;
        display: block;
    }

</style>

<a target="_blank" href="https://l.feathr.co/marketing-week-live-bishops-printers-k" class="t-mwl-banner">
    <img src="/assets/img/mwl-2017.jpg" alt="Bishops at MWL 8-9 March 2017 - stand MJ404" class="t-mwl-banner__image">
</a>
