@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    var pageTitle = CurrentPage.Name;

    if( CurrentPage.HasValue("pageTitle") ) {
        pageTitle = CurrentPage.pageTitle;
    }

}

<div class="wrap wrap--section">
    <article class="article wrap__medium clearfix">
        <h1 class="title--page">@pageTitle</h1>
        @Html.Partial("~/Views/Partials/PageComponents/PageComponents.cshtml")
    </article>
</div>
@{
    Html.RenderPartial("relatedContent");
}
