// ===========================================================
//
//	$ICONS
//
// ===========================================================

@font-face {
    font-family: 'Bishops-iconfont';
    src:    url('../iconfont/fonts/Bishops-iconfont.eot?dewjqa');
    src:    url('../iconfont/fonts/Bishops-iconfont.eot?dewjqa#iefix') format('embedded-opentype'),
        url('../iconfont/fonts/Bishops-iconfont.ttf?dewjqa') format('truetype'),
        url('../iconfont/fonts/Bishops-iconfont.woff?dewjqa') format('woff'),
        url('../iconfont/fonts/Bishops-iconfont.svg?dewjqa#Bishops-iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="ico-"],
[class*=" ico-"],
.dropdownlist > div {
	font-family: 'Bishops-iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.6rem;
}

.ico-flickr:before {
    content: "\e900";
}
.ico-googleplus:before {
    content: "\e901";
}
.ico-instagram:before {
    content: "\e902";
}
.ico-linkedIn:before {
    content: "\e903";
}
.ico-pinterest:before {
    content: "\e904";
}
.ico-vimeo:before {
    content: "\e905";
}
.ico-youtube:before {
    content: "\e906";
}
.ico-lightbulb:before {
    content: "\e900";
}
.ico-bullet-point:before {
	content: "\e60c";
}

.ico-arrow-down:before {
	content: "\e608";
}
.ico-arrow-left:before {
	content: "\e609";
}
.ico-arrow-right:before {
	content: "\e60a";
}
.ico-arrow-up:before {
	content: "\e60b";
}

.ico-facebook:before {
	content: "\e600";
}
.ico-twitter:before {
	content: "\e601";
}
.nav--main--open .ico-list:before,
.ico-cross:before {
	content: "\e602";
}
.ico-list:before {
	content: "\e603";
}
.ico-mail:before {
	content: "\e604";
}
.ico-phone:before {
	content: "\e605";
}
.ico-place:before {
	content: "\e606";
}
.ico-search:before {
	content: "\e607";
}
