//     __                        __                          __
//    / /_  ________  ____ _____/ /___________  ______ ___  / /_
//   / __ \/ ___/ _ \/ __ `/ __  / ___/ ___/ / / / __ `__ \/ __ \
//  / /_/ / /  /  __/ /_/ / /_/ / /__/ /  / /_/ / / / / / / /_/ /
// /_.___/_/   \___/\__,_/\__,_/\___/_/   \__,_/_/ /_/ /_/_.___/
//

.c-breadcrumb {
    margin-bottom: 3rem;
}


.c-breadcrumb__item {
    margin-left: 0;
    list-style: none;
    display: inline-block;

    + .c-breadcrumb__item {
        margin-left: 1.6rem;
    }

    .c-breadcrumb__link {
        margin-right: 1rem;
    }

    &:before {
        display: none !important;
    }

    .is-active {
        color: $black;
        font-weight: bold;
    }
}
