<style type="text/css">
    .c-promo--banner-wrap {
        background-color: #c71432;
        background-size: cover;
        background-image: url(/assets/img/banner-background.jpg);
        display: block;
    }

    .c-promo--banner {
        max-width: 800px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .c-promo__content-wrap {
        color: white !important;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        text-align: center;
    }

    .c-promo__content-wrap h2 {
        color: white !important;
        text-transform: uppercase;
    }

    .c-promo__heading {

    }

    .c-promo__copy {

    }

    .c-promo__actions {

    }


    @@media (max-width: 700px) {

        .c-promo__image-wrap {
            margin: 0 auto;
            max-width: 200px;
            margin-bottom: 3rem;
        }
    }

    @@media (min-width: 700px) {

        .c-promo__image-wrap {
            max-width: 300px;
            margin-bottom: 0rem;
            float: left;
        }

        .c-promo__content-wrap {
            text-align: right;
            float: right;
        }

    }

    @@media (min-width: 900px) {

        .c-promo__image-wrap {
            max-width: 300px;
            margin-bottom: 0rem;
            float: left;
        }

        .c-promo__content-wrap {
            text-align: right;
            float: right;
        }

        .c-promo__heading {

        }

        .c-promo__copy {
            font-size: 17px;
        }

        .c-promo__actions {
            font-size: 20px;
        }
    }

</style>

<a target="_blank" href="https://registration.n200.com/survey/0oa05z76sm01t?actioncode=BIS16" class="wrap--section c-promo--banner-wrap">
    <div class="c-promo--banner clearfix">
        <div class="c-promo__image-wrap">
            <img  src="/assets/img/banner-logo.png" alt="">
        </div>
        <div class="c-promo__content-wrap">
            <h2 class="c-promo__heading">Marketing week Live</h2>
            <p class="c-promo__copy">27 - 28 April 2016 Olympia Central, London</p>
            <p class="c-promo__actions"><em>Meet us at stand <strong>ML15</strong></em></p>
        </div>
    </div>
</a>
