@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section class="qualities">
		
	<ul class="wrap qualities__list">
		
		<li class="qualities__item pre-animate" style="animation-delay: .2s; -webkit-animation-delay: .2s;">
			<img src="/assets/img/chart_icon_dayNight.png" alt="" class="qualities__image" />
			<h2 class="qualities__item-heading"><em>24/7</em><br/> <span class="qualities__item-label">Operating hours</span></h2>
		</li>
			
		<li class="qualities__item pre-animate" style="animation-delay: .4s; -webkit-animation-delay: .4s;">
			<img src="/assets/img/chart_icon_time.png" alt="" class="qualities__image" />
			<h2 class="qualities__item-heading"><em>98.7<span>%</span></em><br/> <span class="qualities__item-label">On-time deliveries</span></h2>			
		</li>
			
			
		<li class="qualities__item pre-animate" style="animation-delay: .6s; -webkit-animation-delay: .6s;">
			<img src="/assets/img/chart_icon_calendar.png" alt="" class="qualities__image" />
			<h2 class="qualities__item-heading"><em>30</em><br/> <span class="qualities__item-label">Years experience</span></h2>				
		</li>
			
			
		<li class="qualities__item pre-animate" style="animation-delay: .8s; -webkit-animation-delay: .8s;">
			<img src="/assets/img/chart_icon_money.png" alt="" class="qualities__image" />
			<h2 class="qualities__item-heading"><em>£20.7<span>M</span></em><br/> <span class="qualities__item-label">Turnover</span></h2>			
		</li>
	
	</ul>
			
</section>