@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<article>
	<section>
		<h2>Felt Bicycles</h2>
		<small class="beta">Catalogue</small>
	</section>
	<section>
		<h3 class="mega">Specifications</h3>
		
	</section>
	<section>
		<h3 class="mega">The result</h3>
		
	</section>
</article>