// ===========================================================
//
//	$COLOURS
//
// ===========================================================

$white: #FFF;
$black: #000;

$dark-0: #06171c;
$dark-1: #464748;
$dark-2: #666768;

$grey-1: #f6f6f6;
$grey-2: #f2f6f8;

$red-1: #da2028;
$red-2: #ae061a;

$blue-1: #004970;
$blue-2: #003857;

$green-1: #53a93f;

$pri: $red-1;
$pri--alt: $red-2;

$sec: $blue-1;

// ===========================================================
//
//	$BASE VALUES
//
// ===========================================================

$base-colour: 				$dark-1;
$border-colour:				$grey-1;
$border-width: 				0.2rem;
$transition-speed: 			0.3s;
$speed: 					$transition-speed;
$hover-opacity:				0.5;
$hover-opacity-ie:			alpha(opacity=50);

$line-height: 				1.4em;

// ===========================================================
//
//	$MEDIA QUERIES
//
// ===========================================================

$mq-small: 					37.5em;		// 600px
$mq-medium: 				50em; 		// 800px
$mq-large: 					62.5em; 	// 1000px
$mq-x-large: 				80em; 		// 1280px
$mq-xx-large:				93.75em;	// 1500px


// ===========================================================
//
//	$FONT TYPES
//
// ===========================================================

$font-family-pri: 'Open Sans', Arial, Helvetica, Geneva, sans-serif;
$font-family-sec: 'chaparral-pro', sans-serif;