/* ===========================================================
//
//	$direct mail infographic
//
// ======================================================== */

.fig {
	padding: 4rem 0;

	.fig__val,
	h2 {
		font-family: "Chaparral Pro";
		text-transform: inherit;
	}

	.fig__val {
		font-size: 6rem;
		display: block;
		line-height: 1;
	}

	h2 {
		color: $blue-1;
		font-size: 2.6rem;
	}

}

.fig--1 {

	.fig__val {
		font-size: 8rem;
	}

	.fig__chart,
	.fig__val {
		float: left;
	}

	.fig__small {
		display: block;
		clear: both;
	}

}

.fig--3 {

	.fig__val {
		width: 14rem;
		float: left;
	}

	.fig__small {
		width: calc(100% - 14rem);
		float: left;
		line-height: 1.4;
	}

	.col--content p {
		line-height: 4rem;
	}

	.col--content p + p{
		padding: 0;
	}

}

.fig--4 {

	.col {
		@include column(7);
	}

	.fig__val {
		margin-top: 2rem;
	}

	.fig__small {
		display: block;
		max-width: 17rem;
	}

	.col--graphic {
		width: 10rem;
		float: left;
	}

	.col--content {
		width: calc(100% - 10rem);
		float: left;
	}

}

.fig--5 {

	.fig__item {
		display: table;

		> div {
			display: table-cell;
			vertical-align: top;
		}
	}

}

.fig--7 {

	.fig__item {
		display: table;

		> div {
			display: table-cell;
			vertical-align: top;
		}
	}

}

@include respond-max( $mq-medium ) {

	.fig {

		.fig__copy {
			text-align: center;
		}

	}

}

@include respond-min( $mq-medium ) {

	.fig {

		h2 {
			font-size: 4rem;
		}

	}

	.fig--1 {

		.col--graphic,
		.col--content {
			@include column(7);
		}

	}

	.fig--2 {

		.col--graphic {
			@include column(8);
		}

		.col--content {
			@include column(6);
			float: right;
		}

	}

	.fig--3 {

		.col--graphic,
		.col--content {
			@include column(7);
		}

	}

}