/* ===========================================================
//
//	$SPECIALIST FINISHES RESOURCE
//
// ======================================================== */

.SpecialistFinishResource {

	.intro-image {
		width: 100%;
		display: block;
	}

	.intro--copy {
		padding-bottom: 0 !important;
	}
	
	.list--grid {
		margin-top: 2rem;
	}

	.owl-carousel .owl-stage-outer {
		clear: both;
	}

	.cover__content {
		z-index: 2;
	}

	.cover__copy {
		max-width: 62rem;
		float: right;
		background-color: $dark-0;
	}

	.cover__text {
		font-size: 3.8rem;
//		font-style: italic;
//		font-family: "chaparral-pro";

		position: absolute;
		bottom: 10%;
		right: 0;
		background-color: $dark-0;
		opacity: 0;
		transform: translateY(1rem);
		transition: opacity $speed ease-out, transform $speed ease-out;

		> h3 {
			padding: 1rem;
			font-size: inherit;
		}
	}

	.owl-item.active {

		.cover__text {
			transition-delay: .8s;
			opacity: 1;
			transform: translateY(0);
		}

	}

	.cover {

		.owl-item {
			opacity: .1;
			transition: opacity .8s ease-out;
		}

		.owl-item.active {
			opacity: 1;
		}

		.cover__img-wrap {
			padding-top: 0;
		}

		.cover__img {
			position: relative;
		}

	}

	.intro--copy {
		padding-top: 2rem;
		padding-bottom: 2rem;
		line-height: 1.3;

		p:last-of-type {
			padding-bottom: 0;
		}
	}


	.contourMessageOnSubmit {
		position: fixed;
		display: block;
		top: 0rem;
		left: 0;
		width: 100%;
		color: #fff;
		background-color: $green-1;
		z-index: 1002;
		padding: 2rem;
		font-weight: 700;
		text-align: center;

		animation-delay: 10s;
		animation-duration: 1s;
  		animation-fill-mode: both;
  		animation-name: fadeOut;
	}

}

@include respond-min( $mq-medium ) {

	.csstransforms.SpecialistFinishResource {

		.contourMessageOnSubmit {
			top: 10rem;
			left: 50%;
			transform: translateX(-50%);
		}

	}

}

@include respond-max( $mq-medium ) {

	.SpecialistFinishResource {

		.cover__text {
			font-size: 2.2rem;
			display: block !important;
		}

	}

}


@include respond-min( $mq-medium ) {

	.SpecialistFinishResource {

		.intro--copy {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
			
		.list--grid {
			margin-top: 6rem;
		}

	}

}

